* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root { 
  /* Colors */ 
  --color-span:#5963f1;
  --color-red:#E3646E;
  --color-purple:#BB72E9;
  --color-blue:#3996DB;
  --color-green:#82BC4F;
  --color-yellow:#EABD5F;
  --base-gray-100:#E2E4E9;
  --base-gray-200:#C0C4CE;
  --base-gray-300:#878EA1;
  --base-gray-400:#292C34;
  --base-gray-500:#16181D;
  --base-gray-600:#0D0E11;

  /* Fonts */
  --font-family:'Asap',sans-serif;
  --second-font:'Inconsolata',monospace;
  --third-font:'Maven Pro',monospace;
  --h1:700 56px/120% var(--font-family);
  --h2:700 24px/120% var(--font-family);
  --h3:700 16px/120% var(--font-family);
  --subtitle:400 20px/120% var(--second-font);
  --text-md:400 16px/140% var(--third-font);
  --text-sm:400 14px/140% var(--third-font);
}

body {
  font: var(--subtitle);
  color: var(--base-gray-200);
  background-color: var(--base-gray-500);
} 

a {
  text-decoration: none;
  color: inherit;
}



h1, h2, h3 {
  font-family: "Asap";
}
 
#tag-title {
  color: var(--base-gray-100);
}


#gray-100 {
  color: var(--base-gray-100);
}

#gray-200 {
  color: var(--base-gray-200);
}

#gray-300 {
  color: var(--base-gray-300);
}

#gray-400 {
  color: var(--base-gray-400);
}

#gray-500 {
  color: var(--base-gray-500);
}

#gray-600 {
  color: var(--base-gray-600);
}

#bg-gray-600 {
  background-color: var(--base-gray-600);
}

#red {
  color: var(--color-red);
}

#purple {
  color: var(--color-purple);
}