header > p {
  color: var(--base-gray-300);
  font-family: var(--text-sm);
}

header span:nth-child(1) {
  color: var(--color-span);
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1040px;
  margin: 0 auto;
  gap: 20px;

}

